<h4>Search by category</h4>

  <%= simple_form_for :search, url: listings_path, method: "GET", html: { class: 'form-inline' } do |f| %>
    <%= f.input :category, as: :select, collection: [
    'Actors & Actresses',
    'Musicians',
    'Record Breakers',
    'Royalty',
    'Sports People'
    ],
    prompt: 'Select Category' %>
    <%= f.submit "Search", class: "button-design" %>
  <% end %>

<br>

<h3><%= @title %></h3>
<% if @listings.empty? %>
  <p class="text-start"> There are no results for your search 💔 </p>
<% end %>

<%# <div class="d-flex flex-wrap justify-content-evenly p-2 bd-highlight"> %>
<div class="listings_display">
  <% @listings.each do |listing| %>
    <div class="card-design" style="width: 18rem;">
      <%= cl_image_tag listing.photos.first.key, class: "card-design-img-top", height: 150, gravoty: :auto %>
      <div class="card-body-design">
        <p class="card-text-design padding-top-for-p-card" ><%=listing.title%></p>
        <p class="card-text-design">£<%=listing.price %></p>
        <p class="card-text-design padding-bottom-for-p-card"><%= link_to "Trial my life", listing_path(listing), class: "button-design" %></p>
      </div>
    </div>
  <% end %>
</div>

<hr>
<h3>My Listings</h3>

<%# <div class="d-flex flex-wrap justify-content-evenly p-2 bd-highlight"> %>
<div class="listings_display">
  <% @my_listings.each do |listing| %>
    <div class="card" style="width: 18rem;">
      <%= cl_image_tag listing.photos.first.key, class: "card-img-top", height: 150, gravoty: :auto %>
      <div class="card-body">
        <p class="card-text"><%= link_to listing.title, listing_path(listing), class: "text-decoration-none" %></p>
      </div>
    </div>
  <% end %>
</div>
