<h4>Search by category</h4>

  <%= simple_form_for :search, url: listings_path, method: "GET", html: { class: 'form-inline' } do |f| %>
    <%# <%= f.input :category, input_html: {value: ""} %>
    <%= f.input :category, as: :select, collection: [
    'Actors & Actresses',
    'Musicians',
    'Record Breakers',
    'Royalty',
    'Sports People'
    ], prompt: 'Select Category' %>
    <%= f.submit "Search", class: "btn btn-primary" %>
  <% end %>

<br>
<h3>Listings</h3>

<div class="d-flex flex-wrap justify-content-evenly p-2 bd-highlight">
  <% @listings.each do |listing| %>
    <div class="card" style="width: 18rem;">
      <%= cl_image_tag listing.photos.first.key, class: "card-img-top", height: 150, gravity: :auto %>
      <div class="card-body">
        <p class="card-text"><%= link_to listing.title, listing_path(listing), class: "text-decoration-none" %></p>
      </div>
    </div>
  <% end %>
</div>
