<div class="card" style="width: 18rem;">
  <%= cl_image_tag @listing.photos.first.key, crop: :fill %>
  <div class="card-body">
    <h5 class="card-title"><%= @listing.title %></h5>
    <p class="card-text"><%= @listing.description %></p>
    <p class="card-text">£<%= @listing.price %></p>
    <p class="card-link"><%= link_to "Book!", new_listing_booking_path(@listing) %></p>
    <% if @listing.user == current_user %>
      <%= link_to "Cancel listing",
              listing_path(@listing),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>
