<%# ORIGINAL CODE %>
<%# <div class="card" style="width: 18rem;">
  <%= cl_image_tag @listing.photos.first.key, crop: :fill %>
  <%# <div class="card-body"> %>
    <%# <h5 class="card-title"><%= @listing.title %>
    <%# <p class="card-text"><%= @listing.description %>
    <%# <p class="card-text">£<%= @listing.price %>
    <%# <p class="card-link"><%= link_to "Book!", new_listing_booking_path(@listing) %>
    <%# <%= link_to "Cancel listing", %>
            <%# listing_path(@listing), %>
            <%# data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <%# </div> %>
<%# </div> %>

<%# RJ CODE %>
<div class="container">
  <div class="listings-show-image"><%= cl_image_tag @listing.photos.first.key, crop: :fill, :width => 600, :height => 400 %></div>
  <h1><%= @listing.title %></h1>
  <p><%= @listing.description %></p>
  <p>£<%= @listing.price %></p>
  <p><%= link_to "Book!", new_listing_booking_path(@listing), class: "button-design text-decoration-none" %></p>
  <p>
    <% if @listing.user == current_user %>
      <%= link_to "Cancel listing",
              listing_path(@listing),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>
  </p>

<%= link_to listings_path do %>
  <div class="secondary-button">
    <i class="fa-solid fa-backward"></i>
  </div>
<% end %>

</div>
