<%= render "shared/navbar"%>

<div class="container">
  <%= link_to listings_path do %>
    <div class="secondary-button">
      <i class="fa-solid fa-backward"></i>
    </div>
  <% end %>

  <h1>Your Bookings Page</h1>
    <% if @my_bookings.empty? %>
      <h5>You haven't made any bookings yet 😭</h5>
    <% end %>

  <% @my_bookings.each do |booking| %>
    <div class="card-product">
      <%= cl_image_tag booking.listing.photos.first.key, class: "card-product-img", gravity: :auto %>
      <div class="card-product-infos">
        <div class="d-flex align-items-center justify-content-between">
          <h2 style="color: #14213D"><strong><%= booking.listing.title %></strong></h2>
          <%= link_to booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <div class="secondary-button">
                <p><i class="fa-solid fa-trash"></i> Delete this booking</p>
              </div>
            <% end %>
          </div>
        <p><strong>Details: </strong><%= booking.listing.description %></p>
        <p><strong>Price: </strong>£<%= booking.listing.price %></p>
        <p><strong>Date: </strong><%= booking.date %></p>
      </div>
    </div>
    <% end %>
</div>

<div class="fixed-bottom">
  <%= render "shared/footer" %>
</div>
