<%= render "shared/navbar"%>

<div class="container">
  <%= link_to listings_path do %>
    <div class="secondary-button">
      <i class="fa-solid fa-backward"></i>
    </div>
  <% end %>

  <h1>Your Bookings Page</h1>
    <% if @my_bookings.empty? %>
      <h5>You haven't made any bookings yet 😭</h5>
    <% end %>

  <% @my_bookings.each do |booking| %>
    <div class="card-product">
      <%= cl_image_tag booking.listing.photos.first.key, class: "card-product-img", gravity: :auto %>
      <div class="card-product-infos">
        <h2 style="color: #14213D"><strong><%= booking.listing.title %></strong></h2>
        <p><strong>Details: </strong><%= booking.listing.description %><br>
        <strong>Price: </strong>£<%= booking.listing.price %><br>
        <strong>Date: </strong><%= booking.date %></p><br>
      </div>
      <%= link_to booking_path(booking), class: "align-items: flex-end", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <div class="secondary-button">
            <p style="font-size: 12px"><i class="fa-solid fa-trash"></i> Delete this booking</p>
          </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="fixed-bottom">
  <%= render "shared/footer" %>
</div>
