<%= render "shared/navbar"%>

<div class="container">
  <%= link_to listings_path do %>
    <div class="secondary-button">
      <i class="fa-solid fa-backward"></i>
    </div>
  <% end %>

  <h1>Your Bookings Page</h1>
    <% if @my_bookings.empty? %>
      <h5>You haven't made any bookings yet 😭</h5>
    <% end %>

  <% @my_bookings.each do |booking| %>
    <div class="card-product">
      <%= cl_image_tag booking.listing.photos.first.key, class: "card-product-img", gravity: :auto %>
      <div class="card-product-infos">
        <h2><strong><%= booking.listing.title %></strong></h2>
        <p><%= booking.listing.description %></p>
        <p><%= booking.date %></p>
        <p><%= link_to "Cancel booking",
          booking_path(booking),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
      </div>
    </div>
  <% end %>
</div>

<%= render "shared/footer" %>
